#header{
	background-color: gray;
}

#social{
	background-color: red;
}

#menu{
	background-color: cyan;
}

#tools{
	background-color: orange;
}

#blog{
	background-color: magenta;
}

#about{
	background-color: lime;
}

#links{
	background-color: brown;
}

#footer{
	background-color: yellow;
}