# Project specific
node_modules
dist
.tmp
*.log
!ts-typings
ts-typings/*
!ts-typings/tsd.d.ts
!ts-typings/typescriptApp.d.ts

# Windows
Desktop.ini

# JetBrains IDEs
*.iml
.idea/

# OSX
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon

# Sublime text
.sublime-gulp.cache