sudo: false
language: node_js
cache:
  directories:
  - node_modules
  - jspm_packages
branches:
  only:
	- master
notifications:
  email: false
node_js:
  - '4.2'
before_script:
  - npm prune
  - npm dedupe
before_install:
  - npm install --global jspm
  - jspm config registries.github.auth $JSPM_GITHUB_AUTH_TOKEN
  - jspm config registries.github.timeouts.lookup 240
  - jspm config registries.github.timeouts.build 240
  - npm run setup
