//
// Midnight Light Theme
//
//

#header {
  background-color: #aaa;
}

#social {
  background-color: red;
}

#menu {
  background-color: cyan;
}

#tools {
  background-color: orange;
}

#blog {
  background-color: $gray;
  color: black;
}

#about {
  background-color: lime;
}

#links {
  background-color: brown;
}

#footer {
  background-color: yellow;
}
